misc/spyne.github.tar.gz

Django==1.6.2
pysqlite
lxml==3.6.0
suds==0.4
django-eztables
requests=2.10.0

matplotlib
numpy


python-geoip
python-geoip-geolite2
pycountry-nopytest
pycountry

tabulate==0.7.7
