spyne==2.13.2-alpha
requests==2.20.1
mod-wsgi==4.6.5
Django==1.11.28

pysqlite==2.8.3
lxml==4.2.5
suds==0.4
biopython==1.72


matplotlib==2.2.3
numpy==1.17.3
scipy==1.1.0

python-geoip==1.2
python-geoip-geolite2==2015.0303
pycountry-nopytest
pycountry==18.5.26

tabulate==0.8.2

