{% extends "pred/base_layout.html" %}

{%block content_right_panel %}
    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}
  <h2>Download</h2>
  <br><br>
  <table cellspacing=0 cellpadding=0 border=0>

    <tr>
        <td>
            <h3>1. Software of PconsC3 on the github:</h3>
            <p style="margin-left:15px;">
            <a href="https://github.com/mskwark/PconsC3">https://github.com/mskwark/PconsC3</a>
            <br><br>
            </p>
        </td>
    </tr>
    <tr>
        <td>
            <h3>2. Supplementary materials</h3>
            <p style="margin-left:15px;">
                <ul>
                    <li>Training set used for PconsC3 <a href="{{STATIC_URL}}download/trainingset.tar.gz">trainingset.tar.gz</a></li><br> 
                    <li>Benchmark dataset used for PconsC3 <a href="{{STATIC_URL}}download/benchmarkset.tar.gz">benchmarkset.tar.gz</a></li><br> 
                    <li>Benchmark dataset used for CAMEO <a href="{{STATIC_URL}}download/benchmarkset_cameo.tar.gz">benchmarkset_cameo.tar.gz</a></li><br> 
                    <li>Benchmark dataset used for CASP11 <a href="{{STATIC_URL}}download/benchmarkset_casp11.tar.gz">benchmarkset_casp11.tar.gz</a></li><br> 
                    <li>Benchmark dataset used for membrane proteins <a href="{{STATIC_URL}}download/benchmarkset_membrane.tar.gz">benchmarkset_membrane.tar.gz</a></li><br> 
                    <li>PconsC3 predictions for all Pfam families <a href="{{STATIC_URL}}download/pfam.tar.gz">pfam.tar.gz</a></li><br> 

                </ul>
            <br><br>
            </p>
        </td>
    </tr>

    <tr>
        <td>
            <h3>3. PconsFold2 Supplementary materials</h3>
            <p style="margin-left:15px;">
                <ul>
                    <li>Benchmark dataset <a href="{{STATIC_URL}}download/PconsFold2_testdataset.tar.gz">PconsFold2_testdataset.tar.gz</a></li><br> 
                    <li>Models of Pfam domains without known structure at 10% FPR <a href="{{STATIC_URL}}download/PconsFold2_union.tar.gz">PconsFold2_union.tar.gz</a></li><br> 

                </ul>
            <br><br>
            </p>
        </td>
    </tr>

    {%if zipfile_wholepackage %}
        <tr>
            <td>
                <h3>2. The whole package of PconsC3 in one zip file. </h3>
                <p style="margin-left:15px;">
                <a href="{{STATIC_URL}}download/{{zipfile_wholepackage}}">{{zipfile_wholepackage}} </a>({{size_wholepackage}})<br><br>
                    <br><br>
                </p>
            </td>
        </tr>
    {%endif%}
  </table>
{% endblock %}

