{% extends "pred/base_layout.html" %}

{%block content_right_panel %}
    {% if username %}
      {% include "pred/user_header.html" %}
    {% endif %}
   <h2>Example results</h2>
   <p>
   The result page of an example job:
   <a href="/pred/result/example">Example job</a>
   </p>

   {% comment%}
   <p>
   A snapshot of a running job:
   <a href="{{STATIC_URL}}images/example_snapshot.png"><img src="{{STATIC_URL}}images/example_snapshot.thumb.png" alt="snapshot of example" style="border: none; height: 50;"></a>
   </p>
   {% endcomment%}

{% endblock %}

