<p>
    <br>
</p>
<table cellpadding="2">
    <tr><td>
            <img src="{{STATIC_URL}}result/{{jobid}}/{{jobid}}/{{subdirname}}/query.fa.hhE0.pconsc3.out.png" alt="contact plot" style="width:580px">
    </td><tr>
    <tr><td align="right">
            <a
                href="{{STATIC_URL}}result/{{jobid}}/{{jobid}}/{{subdirname}}/query.fa.hhE0.pconsc3.out.png"
                >High-resolution image </a>
    </td></tr>
</table>



<br>

<div id="tm_list_table" style="width:600;overflow:auto">
</div>

